<h1>Top 5 Game</h1>
<div class="d-flex justify-content-center">
  <div class="card m-2" style="width: 18rem;">
    <img src="img/Fortnite.jpg" class="card-img-top" alt="Fortnite">
    <div class="card-body">
      <h5 class="card-title">Fortnite</h5>
      <p class="card-text">Fortnite adalah video game dan platform game online yang dikembangkan oleh Epic Games dan dirilis pada tahun 2017. Fortnite tersedia dalam tujuh versi mode permainan berbeda yang memiliki gameplay umum dan mesin game yang sama: 
        Fortnite Battle Royale, game battle royale di mana hingga 100 pemain bertarung untuk menjadi orang terakhir yang bertahan.</p>
      <a href="#" class="btn btn-primary">Detail</a>
    </div>
  </div>

  <div class="card m-2" style="width: 18rem;">
    <img src="img/Roblox.jpg" class="card-img-top" alt="Roblox">
    <div class="card-body">
      <h5 class="card-title">Roblox</h5>
      <p class="card-text">Roblox adalah platform game online dan sistem pembuatan game yang dikembangkan oleh Roblox Corporation 
        yang memungkinkan pengguna memprogram dan memainkan game yang dibuat sendiri atau pengguna lain.
         Itu dibuat oleh David Baszucki dan Erik Cassel pada tahun 2004, dan dirilis ke publik pada tahun 2006.</p>
      <a href="#" class="btn btn-primary">Detail</a>
    </div>
  </div>

  
  <div class="card m-2" style="width: 18rem;">
    <img src="img/Minecraft.jpg" class="card-img-top" alt="Minecraft">
    <div class="card-body">
      <h5 class="card-title">Minecraft</h5>
      <p class="card-text">Minecraft adalah permainan kotak pasir terbuka di mana pemain menjelajahi dunia tanpa batas untuk mengumpulkan sumber daya, membangun struktur, dan melawan makhluk bermusuhan. 
        Ia menawarkan Mode Bertahan Hidup, di mana pemain mengelola rasa lapar dan mempertahankan diri, dan 
        Mode Kreatif, memberikan sumber daya tak terbatas dan kebebasan untuk membangun apa pun yang mereka bayangkan. Game ini tersedia di berbagai platform, termasuk konsol dan perangkat seluler, serta mendukung pengalaman pemain tunggal dan multipemain.</p>
      <a href="#" class="btn btn-primary">Detail</a>
    </div>
  </div>

    <div class="card m-2" style="width: 18rem;">
    <img src="img/LoL.webp" class="card-img-top" alt="LoL">
    <div class="card-body">
      <h5 class="card-title">League of Legends</h5>
      <p class="card-text">League of Legends (LoL) adalah game arena pertempuran online (MOBA) multipemain berbasis tim yang populer, gratis untuk dimainkan, dikembangkan dan diterbitkan oleh Riot Games. 
        Di LoL, dua tim yang terdiri dari lima "juara" kuat bertarung untuk menghancurkan markas tim lawan, mengendalikan juara unik mereka, dan mengumpulkan emas serta pengalaman untuk mendapatkan kekuatan.</p>
      <a href="#" class="btn btn-primary">Detail</a>
    </div>
  </div>

  <div class="card m-2" style="width: 18rem;">
    <img src="img/CS2.jpg" class="card-img-top" alt="CS2">
    <div class="card-body">
      <h5 class="card-title">Counter-Strike 2</h5>
      <p class="card-text">Counter-Strike 2 (CS2) adalah game tembak-menembak taktis online gratis yang dikembangkan dan diterbitkan oleh Valve, merupakan peningkatan besar dari game sebelumnya, Global Offensive (CS:GO). 
        Permainan ini menggunakan mesin permainan Source 2, menghadirkan peningkatan grafis, arsitektur peladen baru, dan beberapa peta yang diperbarui, serta menawarkan pengalaman kompetitif elit yang dibentuk oleh jutaan pemain dari seluruh dunia.</p>
      <a href="#" class="btn btn-primary">Detail</a>
    </div>
  </div>
  <div class="card
